<!doctype html>
<html>
<head>
<title>Meadowlark Travel</title>
</head>
<body style="background-color:black; color:blue">
<header><img src="/img/logo.jpg"  style="width:100px;height:100px;" alt = "Meadowlark Travel Logo" ></header>
{{{body}}}
</body>
</html>